# only commit report.tex and report.pdf and not other report.* files
#report.*
report/report.*
!report/report.tex
!report/report.pdf

# only commit concur2021.tex and not other concur2021.* files
#report.*
sources_concur/concur2021.*
!sources_concur/concur2021.tex

# other stuff
*.pptx